body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0e11ca;
    color: white;
    padding: 10px;
    text-align: center;
 
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;    
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    min-width: 300px;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }

    .flex-container {
        flex-direction: column;
    }
}



section img{
border-radius: 20%;
border-color: #0e11ca;
border-style: solid;
border: 100%;

}














